<footer class="border-t border-gray-200 bg-white print:hidden mt-auto">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4">
    <div class="flex flex-col lg:flex-row-reverse items-center gap-3">
      <ul class="flex flex-wrap items-center gap-x-4 gap-y-1 list-none m-0 p-0">
        <li><a href="https://github.com/lazaronixon/administration-zero" class="text-sm text-gray-500 hover:text-gray-700" target="_blank" rel="noopener">Documentation</a></li>
        <li><a href="https://github.com/lazaronixon/administration-zero/blob/master/LICENSE" class="text-sm text-gray-500 hover:text-gray-700" target="_blank" rel="noopener">License</a></li>
        <li><a href="https://github.com/lazaronixon/administration-zero" class="text-sm text-gray-500 hover:text-gray-700" target="_blank" rel="noopener">Source code</a></li>
        <li>
          <a href="https://github.com/sponsors/lazaronixon" class="inline-flex items-center gap-1 text-sm text-gray-500 hover:text-gray-700" target="_blank" rel="noopener">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-pink-500 fill-pink-500" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /></svg>
            Sponsor
          </a>
        </li>
      </ul>
      <ul class="flex flex-wrap items-center gap-x-4 gap-y-1 list-none m-0 p-0 lg:mr-auto">
        <li><span class="text-sm text-gray-500">Copyright &copy; <%= Time.current.year %> Administration Zero. All rights reserved.</span></li>
      </ul>
    </div>
  </div>
</footer>
