<%= content_for :title, title %>

<div class="flex-1 min-w-0">
  <ol class="breadcrumb mb-1" aria-label="breadcrumbs">
    <%= yield %>
  </ol>
  <h1 class="text-xl font-semibold text-gray-900 dark:text-white truncate">
    <%= title %>
  </h1>
</div>
